<!--
<%= form_for ([@kela, @kela.mahasiswa_join_kelas.build]) do |f| %>
	<%= f.hidden_field :matakuliah, :value => @kela.nama_mk %>
	<%= f.hidden_field :mahasiswa_join, :value => current_user.email %>
	<%= f.submit 'Join' %>
	
<% end %>
-->