<div class="box-signup">

  <h2>Edit Profile <%= resource_name.to_s.humanize %></h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>

    <div class="leftForm">
      <form>
      <div class="mui-textfield">
        <%= f.email_field :email, autofocus: true %>
        <label>Email</label>
      </div>
      <form>
      <div class="mui-textfield">
        <%= f.text_field :nama, autofocus: true %>
        <label>Nama</label>
      </div>
      <div class="mui-select">
        <%= f.select :gender, ['Laki-laki', 'Perempuan'] %>
        <label>Gender</label>
      </div>
      <div class="field">
        <%= f.label :b_date %><br/>
        <%= f.date_select :b_date, :start_year => 1980, :end_year => 2007 %>
      </div>
      <div class="mui-textfield">
        <%= f.text_field :alamat, autofocus: true %>
        <label>Alamat</label>
      </div>
    </div>

    <div class="rightForm">
      <div class="mui-textfield">
        <%= f.text_field :kota, autofocus: true %>
        <label>Kota</label>
      </div>
      <div class="mui-textfield">
        <%= f.text_field :no_telp, autofocus: true %>
        <label>Nomor Telepon</label>
      </div>

    <!--
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
        <%= f.password_field :password, autocomplete: "off" %>
        <% if @minimum_password_length %>
          <br />
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>
    -->
      <div class="mui-textfield">
        <%= f.password_field :current_password, autocomplete: "off" %>
        <label>(we need your current password to confirm your changes)</label>
      </div>

      <button type="submit" class="mui-btn mui-btn--raised">Update</button>
    </form>
    
  <% end %>

  <!--
  <h3>Cancel my account</h3>

  <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
  -->

  <%= link_to "Back", :back, :class=>"mui-btn mui-btn--raised mui-btn--danger" %>
  </div>
</div>