<div class="carousel slide carousel-fade" data-ride="carousel">

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
        </div>
        <div class="item">
        </div>
        <div class="item">
        </div>
    </div>
</div>

<div class="box-signup">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :status, :value => "pending" %>
  
  <div class="leftForm">
    <h1>Sign up</h1>

    <form>
      <div class="mui-textfield">
        <%= f.text_field :nama, autofocus: true %>
        <label>Nama</label>
      </div>
    
      <div class="mui-select">
        <%= f.select :gender, ['Laki-laki', 'Perempuan'] %>
        <label>Gender</label>
      </div>

    <div class="field">
      <%= f.label :b_date %><br/>
      <%= f.date_select :b_date, :start_year => 1980, :end_year => 2007 %>
    </div>

    <div class="mui-textfield">
      <%= f.text_field :alamat, autofocus: true %>
      <label>Alamat</label>
    </div>

    <div class="mui-textfield">
      <%= f.text_field :kota, autofocus: true %>
      <label>Kota</label>
    </div>
  </div>

  <div class="rightForm">
    <div class="mui-textfield">
      <%= f.email_field :email, autofocus: true %>
      <label>Email</label>
    </div>

    <div class="mui-textfield">
      <%= f.text_field :no_telp, autofocus: true %>
      <label>No Telp</label>
    </div>

    <div class="mui-textfield">
      <% if @minimum_password_length %>
      <% end %>
      <%= f.password_field :password, autocomplete: "off" %>
      <label>Pasword (<%= @minimum_password_length %> characters minimum)</label>
    </div>

    <div class="mui-textfield">
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
      <label>Pasword Confirmation</label>
    </div>

    <div class="mui-select">
      <%= f.select :role, ['Admin', 'Dosen', 'Mahasiswa'] %>
      <label>Gender</label>
    </div>
    <button type="submit" class="mui-btn mui-btn--raised">Sign up</button>
    </form>
    
      
    

    <%= render "devise/shared/links" %>
  </div>
  <% end %>

</div>