<div class="box">
<%= form_for @kela do |f| %>
	
	<% if @kela.errors.any? %>
		<div id="error_explanation">
			<h2>
				<%= pluralize(@kela.errors.count, "error") %> prohibited this article from being saved :
			</h2>
			<ul>
				<% @kela.errors.full_messages.each do |msg| %>
				  <li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<form>
      <div class="mui-textfield">
        <%= f.text_field :nama_mk %>
        <label>Nama Mata Kuliah</label>
      </div>
      <div class="mui-textfield">
        <%= f.text_field :kode_mk %>
        <label>Nama Mata Kuliah</label>
      </div>
      <div class="mui-textfield">
        <%= f.text_field :waktu %>
        <label>Nama Mata Kuliah</label>
      </div>
      <div class="mui-textfield">
        <%= f.text_field :jumlah_mhs %>
        <label>Nama Mata Kuliah</label>
      </div>
      <div class="mui-textfield">
        <%= f.text_field :ruang %>
        <label>Nama Mata Kuliah</label>
      </div>
      <div class="buttonMid"> 
 		<p><button type="submit" class="mui-btn mui-btn--raised">Update Kelas</button></p>
 	  </div>	
	</form>
<% end %>
<div class="buttonMid"> 
	<p>
		<%= link_to 'Back', kelas_index_path, :style=>"width:84%", :class=>"mui-btn mui-btn--raised mui-btn--danger" %>
	</p>
</div>
</div>