<% if current_user.role == "Dosen" %>
  <%= form_for :kela, url: kelas_path do |f| %>
    <div class="box-mataKuliah">
      <form>
          <div class="mui-textfield">
            <%= f.text_field :nama_mk, autofocus: true %>
            <label>Nama Mata Kuliah</label>
          </div>

          <div class="mui-textfield">
            <%= f.text_field :kode_mk, autofocus: true %>
            <label>Kode Mata Kuliah</label>
          </div>

          <div class="mui-textfield">
            <%= f.text_field :waktu, autofocus: true %>
            <label>Waktu</label>
          </div>

          <div class="mui-textfield">
            <%= f.text_field :jumlah_mhs, autofocus: true %>
            <label>Jumlah Mahasiswa</label>
          </div>

          <div class="mui-textfield">
            <%= f.text_field :ruang, autofocus: true %>
            <label>Ruang</label>
          </div>

          <button type="submit" class="mui-btn mui-btn--raised mui-btn--primary">Tambah</button>
      </form>
    </div>
  <% end %>

  <div class="box-tabelMataKuliah">
    <table class="table table-striped">
      <tr>
        <th>Nama Mata Kuliah</th>
        <th>Kode Mata Kuliah</th>
        <th>Waktu</th>
        <th>Jumlah Mahasiswa</th>
        <th>Ruang</th>
        <th colspan="3"></th>
      </tr>

      <% @kelas.each do |kela| %>
        <tr>
          <td><%= kela.nama_mk %></td>
          <td><%= kela.kode_mk %></td>
          <td><%= kela.waktu %></td>
          <td><%= kela.jumlah_mhs %></td>
          <td><%= kela.ruang %></td>
          <td><%= link_to 'Edit', edit_kela_path(kela), { :class=>"mui-btn mui-btn--raised" } %></td>
          <td><%= link_to 'Show', kela_path(kela), { :class=>"mui-btn mui-btn--raised" }  %></td>
          <td><%= link_to 'Destroy', kela_path(kela),
              method: :delete,
              data: { confirm: 'Are you sure?' }, :class=>"mui-btn mui-btn--raised mui-btn--danger"  %></td>
        </tr>
      <% end %>
    </table>
    <p>
      <%= link_to 'Back', welcome_index_path, {  :class=>"mui-btn mui-btn--raised mui-btn--primary" } %>
    </p>
  </div>


<% elsif current_user.role == "Mahasiswa" %>
<div class="box-signup">
  <table class="table table-striped">
    <tr>
      <th>Nama Mata Kuliah</th>
      <th>Waktu</th>
      <th colspan="3"></th>
    </tr>

    <% @kelas.each do |k| %>
      <tr>
        <td><%= k.nama_mk %></td>
        <td><%= k.waktu %></td>
        <td><%= link_to 'Join', kela_path(k), :class=>"mui-btn mui-btn--raised mui-btn--primary" %></td>
      </tr>
    <% end %>

  </table>
  <p>
    <%= link_to 'Back', welcome_index_path, :class=>"mui-btn mui-btn--raised mui-btn--danger" %>
  </p>
</div>
<% end %>

