<% if current_user.role == "Dosen" %>
	<div class="box-signup">
		<p>
			<strong>Nama Matakuliah :</strong>
				<%= @kela.nama_mk %>
		</p>
		<p>
			<strong>Kode Matakuliah :</strong>
				<%= @kela.kode_mk %>
		</p>

		<table class="table table-bordered">
			<tr>
				<th>Mahasiswa</th>
				<th>Status</th>
				<th>Action</th>
			</tr>
			<% @kela.mahasiswa_join_kelas.each do |join| %>
		        <tr>
		          <td><%= join.mahasiswa_join %></td>
		          <td><%= join.status %></td>
		          <td>
	          		<%= form_for ([@kela, join]) do |f| %>
	          			<%= f.hidden_field :status, :value => "approved" %>
	          			<%= f.submit 'Approve' %>
	          		<% end %>
		          </td>
		        </tr>
	      <% end %>
		</table>

		<%= link_to 'Back', kelas_index_path, :class=>"mui-btn mui-btn--raised mui-btn--danger" %>
	</div>

<% elsif current_user.role == "Mahasiswa" %>
	<div class="box">
		<p>
			<strong>Nama Matakuliah :</strong>
				<%= @kela.nama_mk %>
		</p>

		<p>
			<strong>Kode Matakuliah :</strong>
				<%= @kela.kode_mk %>
		</p>

		<p>
			<strong>Waktu :</strong>
				<%= @kela.waktu %>
		</p>
		<p>
			<strong>Ruang :</strong>
				<%= @kela.ruang %>
		</p>

		<p>
			<%= form_for ([@kela, @kela.mahasiswa_join_kelas.build]) do |f| %>
				<%= f.hidden_field :matakuliah, :value => @kela.nama_mk %>
				<%= f.hidden_field :mahasiswa_join, :value => current_user.email %>
				<%= f.hidden_field :status, :value => "pending" %>
				<%= f.submit 'Join' , :class=>"mui-btn mui-btn--raised mui-btn--primary" %>
			<% end %>
			
			<!--<%= render 'mahasiswa_join_kelas/hiddendaftar' %> -->

		</p>
		<%= link_to 'Back', kelas_index_path, :class=>"mui-btn mui-btn--raised mui-btn--danger" %>
	</div>

<% end %>