<div class="box-approve">
	Approve sekarang?
	<%= form_for :user, method: :patch do |f| %>
		<%= f.hidden_field :status, :value => "approved"%>
		<button type="submit" class="mui-btn mui-btn--raised">Approve</button>
		<%= link_to 'Back', welcome_index_path, :style=>"width:39%", :class=>"mui-btn mui-btn--raised mui-btn--danger" %>
	<% end %>
</div>