<% if current_user.role == "Dosen" %>
	<div class="box-signup">
  		<div class="leftFormProfile">
			<h2>PROFILE</h2>
			<%= link_to 'Mata Kuliah', kelas_index_path, { :style=>"width:84%", :class=>"mui-btn mui-btn--raised"} %> <br/>
			<%= link_to 'Edit Profile', edit_user_registration_path, { :class=>"mui-btn mui-btn--raised" } %>

			<p>
				<%= link_to 'Log Out', destroy_user_session_path,
				method: :delete,
				data: {confirm: 'Are you sure?'}, :style=>"width:84%", :class=>"mui-btn mui-btn--raised mui-btn--primary" %> </br>
			</p>
		</div>
		<div class="rightForm">

			<i class="fa fa-user" aria-hidden="true"></i> <b>Nama</b><br/>
			<%= current_user.nama %><br/><br>

			<i class="fa fa-venus-mars" aria-hidden="true"></i> <b>Gender</b><br>
			<%= current_user.gender %> <br/><br>

			<i class="fa fa-birthday-cake" aria-hidden="true"></i> <b>Tanggal lahir</b><br>
			<%= current_user.b_date%> <br/><br>

			<i class="fa fa-home" aria-hidden="true"></i> <b>Alamat</b><br>
			<%= current_user.alamat %>, <%= current_user.kota %> <br/><br>

			<i class="fa fa-mobile" aria-hidden="true"></i> <b>No Telepon</b><br>
			<%= current_user.no_telp %> <br/><br>

			<i class="fa fa-envelope" aria-hidden="true"></i> <b>Email</b><br>
			<%= current_user.email %> <br/>	<br>		
		</div>
	</div>

<% elsif current_user.role == "Mahasiswa" %>
	<div class="box-signup">
  		<div class="leftFormProfile">
  			<h2>PROFILE</h2>
			<%= link_to 'Join kelas', kelas_index_path, { :style=>"width:84%", :class=>"mui-btn mui-btn--raised" }%><br/>
			<%= link_to 'Edit Profile', edit_user_registration_path, { :class=>"mui-btn mui-btn--raised" }%>

			<p>
				<%= link_to 'Log Out', destroy_user_session_path,
				method: :delete,
				data: {confirm: 'Are you sure?'}, :style=>"width:84%", :class=>"mui-btn mui-btn--raised mui-btn--primary" %> </br>
			</p>
		</div>
		<div class="rightForm">

			<i class="fa fa-user" aria-hidden="true"></i> <b>Nama</b><br/>
			<%= current_user.nama %><br/><br>

			<i class="fa fa-venus-mars" aria-hidden="true"></i> <b>Gender</b><br>
			<%= current_user.gender %> <br/><br>

			<i class="fa fa-birthday-cake" aria-hidden="true"></i> <b>Tanggal lahir</b><br>
			<%= current_user.b_date%> <br/><br>

			<i class="fa fa-home" aria-hidden="true"></i> <b>Alamat</b><br>
			<%= current_user.alamat %>, <%= current_user.kota %> <br/><br>

			<i class="fa fa-mobile" aria-hidden="true"></i> <b>No Telepon</b><br>
			<%= current_user.no_telp %> <br/><br>

			<i class="fa fa-envelope" aria-hidden="true"></i> <b>Email</b><br>
			<%= current_user.email %> <br/>	<br>		
		</div>
	</div>
	

<% elsif current_user.role == "Admin" %>
	<div class="box-signup">
  		<div class="leftFormProfile">
  			<h2>PROFILE</h2>
			<%= link_to 'Edit Profile', edit_user_registration_path, { :style=>"width:84%", :class=>"mui-btn mui-btn--raised" } %></br>
			<%= link_to 'Manage User', welcome_show_path, { :style=>"width:84%", :class=>"mui-btn mui-btn--raised" } %> 

			<p>
				<%= link_to 'Log Out', destroy_user_session_path,
				method: :delete,
				data: {confirm: 'Are you sure?'}, :style=>"width:84%", :class=>"mui-btn mui-btn--raised mui-btn--primary" %> </br>
			</p>
		</div>
		<div class="rightForm">

			<i class="fa fa-user" aria-hidden="true"></i> <b>Nama</b><br/>
			<%= current_user.nama %><br/><br>

			<i class="fa fa-venus-mars" aria-hidden="true"></i> <b>Gender</b><br>
			<%= current_user.gender %> <br/><br>

			<i class="fa fa-birthday-cake" aria-hidden="true"></i> <b>Tanggal lahir</b><br>
			<%= current_user.b_date%> <br/><br>

			<i class="fa fa-home" aria-hidden="true"></i> <b>Alamat</b><br>
			<%= current_user.alamat %>, <%= current_user.kota %> <br/><br>

			<i class="fa fa-mobile" aria-hidden="true"></i> <b>No Telepon</b><br>
			<%= current_user.no_telp %> <br/><br>

			<i class="fa fa-envelope" aria-hidden="true"></i> <b>Email</b><br>
			<%= current_user.email %> <br/>	<br>		
		</div>
	</div>
<% end %>

