
<%= link_to "Semua", :action => "show", :class=>"mui-btn mui-btn--raised"%> |
<%= link_to "Mahasiswa", :action => "show", :role => "mahasiswa" %> |
<%= link_to "Dosen", :action => "show", :role => "dosen" %>

<table class="table table-bordered">
	<tr>
		<th>Mahasiswa</th>
		<th>Status</th>
		<th>Action</th>
	</tr>>

	<% @users.each do |log| %>
	<tr>
		<td><%= log.email %></td>
		<td><%= log.status %></td>
		<td>
      		<%= link_to 'approve', edit_welcome_path(log), :class=>"mui-btn mui-btn--raised mui-btn--primary"  %>
      	</td>
	</tr>

	<% end %>

</table>

<p><%= link_to 'Back', welcome_index_path, :class=>"mui-btn mui-btn--raised mui-btn--danger"  %></p>