<!-- Inspired by http://codepen.io/transportedman/pen/NPWRGq -->

<div class="carousel slide carousel-fade" data-ride="carousel">

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
        </div>
        <div class="item">
        </div>
        <div class="item">
        </div>
    </div>
</div>
 
<div id="content-wrapper">
<!-- PAGE CONTENT -->
    <div class="box">
      <h1>Login</h1>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <form>
        <div class="mui-textfield">
          <%= f.email_field :email, autofocus: true %>
          <label>Email</label>
        </div>

        <div class="mui-textfield">
          <%= f.password_field :password, autocomplete: "off" %>
          <label>Password</label>
        </div>
        
        <div class="rememberMid">
          
          <div class="form-group"><p>
            <% if devise_mapping.rememberable? -%>
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
            <% end -%>
          </div>

        </div>
            
          <div class="buttonMid"> 
            <p><button type="submit" class="mui-btn mui-btn--raised">Log in</button></p>
          </div>

        </form>
        <%= render "devise/shared/links" %>
      <% end %>
    </div>
<!-- PAGE CONTENT -->
</div>
  
<script type="text/javascript">
  $('.carousel').carousel();
</script>