html {
    background-color: white;
}

body {
    background-color: transparent !important;
}

.box {
	background-color: white;
    width: 19%;
    padding: 2%;
    margin: 8% auto;
    -webkit-box-shadow: 0px 0px 21px 3px rgba(0,0,0,0.37);
	-moz-box-shadow: 0px 0px 21px 3px rgba(0,0,0,0.37);
	box-shadow: 0px 0px 21px 3px rgba(0,0,0,0.37);
}

.box h1{
	border-bottom: 1px solid grey;
	text-align: center;
	padding-bottom: 5%;
}

.box .buttonMid p{
    text-align: center;
}

.box .rememberMid p{
    text-align: center;
}

/*==============================================================*/
.box-mataKuliah {
    clear: left;
    float: left;
    background-color: white;
    width: 20%;
    padding: 2%;
    height: 65vh;
    margin: 5% 5%;
    -webkit-box-shadow: 0px 0px 21px 3px rgba(0,0,0,0.37);
    -moz-box-shadow: 0px 0px 21px 3px rgba(0,0,0,0.37);
    box-shadow: 0px 0px 21px 3px rgba(0,0,0,0.37);
    margin-top: 10%;
}

.box-tabelMataKuliah {
    float: left;
    background-color: white;
    width: 65%;
    padding: 2%;
    height: 65vh;
    margin: 5% auto;
    -webkit-box-shadow: 0px 0px 21px 3px rgba(0,0,0,0.37);
    -moz-box-shadow: 0px 0px 21px 3px rgba(0,0,0,0.37);
    box-shadow: 0px 0px 21px 3px rgba(0,0,0,0.37);
    margin-top: 10%;
}


/*==============================================================*/
.box-signup {
    background-color: white;
    width: 58%;
    padding: 2%;
    height: 65vh;
    margin: 8% auto;
    -webkit-box-shadow: 0px 0px 21px 3px rgba(0,0,0,0.37);
	-moz-box-shadow: 0px 0px 21px 3px rgba(0,0,0,0.37);
	box-shadow: 0px 0px 21px 3px rgba(0,0,0,0.37);
	margin-top: 10%;
}

.box-signup .leftForm{

    clear: left;
    float: left;
    width: 50%;
}

.box-signup .leftFormProfile{
    background-color: orange;
    float: left;
    width: 30%;
    height: 65vh;
    margin-left: -3.7%;
    margin-top: -3.7%;
    padding-left: 4.1%;
}

.box-signup .rightForm{
    float: left;
    width: 50%;
    padding-left: 5%;
}

/*==============================================================*/

.carousel-fade .carousel-inner .item {
    opacity: 0;
    transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
    opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}
.carousel-fade .carousel-control {
    z-index: 2;
}
@media all and (transform-3d),
(-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
.item:nth-child(1) {
    background: url(https://ununsplash.imgix.net/photo-1417021423914-070979c8eb34?q=75&fm=jpg&s=55746bd56e02a131b1e48c12196ea866) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.item:nth-child(2) {
    background: url(https://ununsplash.imgix.net/reserve/oY3ayprWQlewtG7N4OXl_DSC_5225-2.jpg?q=75&fm=jpg&s=85ab821f3fa535036a68155aab571bad) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.item:nth-child(3) {
    background: url(https://unsplash.imgix.net/photo-1414073875831-b47709631146?q=75&fm=jpg&s=731b6d5150eea8bafa63ae8194e72ebd) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.carousel {
    z-index: -99;
}
.carousel .item {
    position: fixed;
    width: 100%;
    height: 100%;
}

/*=================================================================*/

.box-approve {
    background-color: white;
    width: 28%;
    padding: 2%;
    height: 15vh;
    margin: auto;
    -webkit-box-shadow: 0px 0px 21px 3px rgba(0,0,0,0.37);
    -moz-box-shadow: 0px 0px 21px 3px rgba(0,0,0,0.37);
    box-shadow: 0px 0px 21px 3px rgba(0,0,0,0.37);
    margin-top: 20%;
}