<!DOCTYPE html>
<html>
  <head>
    <title>UcWeb</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="//cdn.muicss.com/mui-0.9.4/css/mui.min.css" rel="stylesheet" type="text/css" />
    <script src="//cdn.muicss.com/mui-0.9.4/js/mui.min.js"></script>

    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  </head>

  <body>   
     <!-- <div>
       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
     </div> -->

    <%= yield %>
  </body>
</html>
